.work-space {
  display: flex;
  align-items: stretch;
  .editor, .result {
    flex: 1;
    height: auto;
    position: relative;
    .error-box {
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 100;
      color: white;
      background-color: red;
      // margin: auto 0px auto 20px;
      padding: 4px 15px;
    }
  }

  .react-codemirror2, .CodeMirror {
    height: 100%;
  }

  height: ~'calc(100vh - 64px)';
}

//body #root {
//  height: 100vh;
//}
