
.container {
  display: flex;
  flex: 1;
  :global {
    .react-codemirror2 {
      flex: 1;
      width: 0;
      .CodeMirror {
        height: 100%;
      }
    }
  }
}

.transfroming {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
  display: inline-flex;
  flex-direction: column;

  > span {
    color: #ccc;
  }
}

.jsonEditor {
  margin-right: 10px;
}

.resultEditor, .wrapperResult {
  margin-left: 10px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.3) !important;
}
.wrapperResult {

  flex: 1;
  width: 0;

  :global {
    .ant-tabs, .ant-tabs-content {
      height: 100%;
    }
    .react-codemirror2 {
      width: 100% !important;
    }

    .ant-tabs-nav-wrap {
      margin-bottom: 10px;
      flex: none !important;
    }
    .ant-tabs-tab {
      padding: 5px 10px !important;
    }

    .ant-tabs-tabpane {
      padding-left: 0!important;
    }
  }
}

.jsonEditor, .resultEditor, .subEditor {
  height: 100%;
}
