.App {
  display: flex;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
}

.search {
  width: 300px;
}

.jsTextareaWrapper {
  position: relative;
  width: 300px;
  height: 34px;
  display: flex;
  align-items: center;
}

.jsTextarea:global(.ant-input) {
  resize: none;
  position: absolute;
  height: 32px;
  right: 0;
  top: 0;
  left: 0;

  transition: all ease .2s;
}

.btns {
  margin-right: 20px;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.btns > * {
  margin-left: 10px;
}

.loading, .loading :global(.ant-spin-container) {
  display: flex;
  flex: 1;
  height: 100%;
}

.clickable {
  cursor: pointer;
}

.header :global .ant-form-item-label > label {
  color: #fff
}

.header :global .ant-form-item {
  margin-bottom: 0;
}

.logo {
  float: left;
  height: 32px;
  line-height: 32px;
  color: #fff;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);

  padding: 0 12px;
}

.body {
  flex: 1;
  height: 0;
  display: flex;
}

.footer {

}

.paramsEditor {
  width: 600px;
}

.select {
  /*max-width: 100px;*/
}
